<manifest xmlns:android="http://schemas.android.com/apk/res/android">
   <application>
        <activity
            android:name="PACKAGE_UI.CLASS_NAME_UNDERSCORED.EditCLASS_NAME_AS_ISActivity"
            android:label="@string/title_edit_CLASS_NAME_UNDERSCORED"
            android:parentActivityName="PACKAGE_UI.CLASS_NAME_UNDERSCORED.CLASS_NAME_AS_ISMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CLASS_NAME_AS_ISMainActivity" />
        </activity>
   </application>
</manifest>